<%- include('../template/header') -%>
<%- include("../template/navside") -%>
<%- include("../template/navbars") -%>

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Inbox</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-4">
                        <table class="table align-items-center mb-0" id="tableinbox">
                            <thead>
                                <tr>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Time</th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Port</th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Message</th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        From Message</th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Destination Number</th>

                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody class="text-truncate">
                                <% for(let e in dataInbox) { %>

                                <tr>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">
                                            <%= moment(dataInbox[e].createdAt).format('LLL'); %>
                                        </p>
                                    </td>
                                    <td>
                                        <p class="text-xs text-truncates font-weight-bold mb-0">
                                            <%= dataInbox[e].device %>
                                        </p>
                                    </td>
                                    <td onclick="modalShow('popup_sms');smsMasuk('<%= dataInbox[e].message %>')">
                                        <p class="text-xs text-truncates font-weight-bold mb-0">
                                            <%= dataInbox[e].message %>
                                        </p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <p class="text-xs text-truncates font-weight-bold mb-0">
                                            <%= dataInbox[e].from %>
                                        </p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <p class="text-xs text-truncates font-weight-bold mb-0">
                                            <%= dataInbox[e].to %>
                                        </p>
                                    </td>

                                    <td class="align-middle">
                                    </td>
                                </tr>

                                <!-- <tr class="explode hide">
                                    <td colspan="6" style="background: #CCC; display: none;">
                                        <p class="text-xs font-weight-bold mb-0">
                                            <%# dataInbox[e].message %>
                                        </p>
                                    </td>
                                </tr> -->


                                <% } %>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../template/footer') -%>
<%- include("../modals/general_modals/modal_sms") -%>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('#tableinbox').DataTable();
    });

    // $(".exploder").click(function () {
    //     $(this).toggleClass("btn-success btn-danger");

    //     $(this).children("span").toggleClass("glyphicon-search glyphicon-zoom-out");

    //     $(this).closest("tr").next("tr").toggleClass("hide");

    //     if ($(this).closest("tr").next("tr").hasClass("hide")) {
    //         $(this).closest("tr").next("tr").children("td").slideUp();
    //     } else {
    //         $(this).closest("tr").next("tr").children("td").slideDown(100);
    //     }
    // });
</script>