<%- include('../template/header') -%>
<%- include("../template/navside") -%>
<%- include("../template/navbars") -%>

<div class="container-fluid pt-3 pb-0 px-4">
    <div class="row">
        <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="p-3 pt-2">
                    <div class="text-end pt-1">
                        <p class="text-start text-sm mb-0 text-capitalize text-dark font-weight-bolder">Status
                            Simpool
                        </p>
                        <% if(dataService == "online"){ %>
                        <h4 class="text-end text-success mb-0"> <%= dataService %> </h4>
                        <% } else { %>
                        <h4 class="text-end text-danger mb-0"> Stoped </h4>
                        <% } %>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="p-3 pt-2">
                    <div class="text-end pt-1">
                        <p class="text-start text-sm mb-0 text-capitalize text-dark font-weight-bolder">Control
                            Services
                        </p>
                        <button class="btn-primary rounded px-4" onclick="modalShow('restart_services');actServices()">
                            <span>
                                Setting
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container-fluid py-4">
    <div class="containers mb-3">
        <div class="row">
            <div class="col-xl-12 col-sm-12 mb-xl-12">
                <div class="box anyClass">
                    <div class="row">
                        <div class="text-start">
                            <div class="p-3 m-3">
                                <%# dataLog %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<%- include('../template/footer') -%>
<%- include("../modals/general_modals/modal_restart_services") -%>